body {
    font-size: 16px; /*1em*/
    margin: 0px auto;
    max-width: 1078px;
    min-width: 1078px;
}

header input{
    float: right;
    margin-right: -250px;
    margin-top: 15px;
}

header nav{
    margin-left: 220px;
}

header nav ul li{
    border-bottom: 2px solid lightgray;
    color: lightgray;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 15px;
    padding-bottom: 4px;
}

section ul {
    list-style: none; /* Quitamos los marcadores */
    padding: 0; /* Quitamos el padding por defecto de la lista */
    margin-left: 10px; /* Separamos la lista de la izquierda */
}

section ul li::before { /* Añadimos contenido antes de cada elemento de la lista */
    content: "\2022"; /* Insertamos el marcador */
    padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
    color: lightpink; /* Coloreamos la viñeta */
}

footer{
    border-top: 3px solid lightgray;
    background: #4267b3;
}

#bgoffer{
    position: relative;
    left: -35px;
    top: -410px;
}

#facebook{
    float: right;
    position: relative;
    bottom: 35px;
    right: 220px;
}

#footerart02{
    padding-left: 50px;
}

#granthams{
    margin-left: 25px;
    margin-top: 25px;
}

#monitos{
    float: right;
    position: relative;
    bottom: 70px;
    left: 30px;
}

#paint{
    float: right;
}

#primeraSeccion{
    height: 318px;
    margin-top: 60px;
}

#primeraSeccion article{
    display: inline-block;
    vertical-align: top;
}

#secc01art01{
    margin-left: 30px;
    width: 60%;
}

#secc01art02{
    margin-left: 50px;
    width: 30%;
}

#segundaSeccion article{
    padding-right: 122px;
    text-align: right;
}

#secc03art04{
    padding-left: 25px;
    padding-top: 40px;
}

#seccionFooter{
    padding-top: 10px;
    padding-bottom: 3%;
}

#seccionFooter article{
    display: inline-block;
}

#terceraSeccion article{
    display: inline-block;
    padding-bottom: 30px;
    vertical-align: top;
    width: 23%;
}

#terceraSeccion article img {
    vertical-align: middle;
}

#terceraSeccion article input {
    border-radius: 5px;
}

#terceraSeccion article input[type="button"]{
    background: #8BC500;
    color: white;
}
#twitter {
    float: right;
    position: relative;
    bottom: 35px;
    right: 120px;
}

.centrado{
    padding-left: 65px;
}

.colorrosa{
    color: #FF0099;

}

.colorazul{
    color: #4267b3
}

.colorverde{
    color: #8BC500;
}

.colorBlanco{
    color: white;
    margin-left: 25px;
    margin-top: 30px;
}

.letragrande{
    font-size: 3.5em;
}

.letramediana{
    font-size: 2em;
}

.letrapequenia{
    font-size: .8em;
}

.nite{
    font-weight: bold;
}