body {
    /* border: 1px solid red; */
    font-size: 16px; /*1em*/
    margin: 0px auto;
    max-width: 1024px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
}

header nav ul li {
    margin-right: 260px;
}

#header-art02 {
    display: flex;
    justify-content: center;
}

#header-art03{
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    margin-top: 20px;
}

#header-art04 {
    width: 12%;
}

#header-art05 {
    width: 12%;
}

#header-art06 {
    width: 30%;
}

#header-art07 {
    width: 30%;
}

#primera-seccion-art01 {
    display: flex;
    justify-content: center;
}

#segunda-seccion {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}

#segunda-seccion-art01 {
    width: 58%;
}

#segunda-seccion-art02 {
    width: 40%;
}

.letra-titulo {
    font-size: 8em;
}

.letras-grandes {
    font-size: 8em;
}

.letra-gris {
    color: gray;
}

.imagen01 {
    height: 300px;
    width: 590px;   
}

.imagen02 {
    height: 300px;
    width: 400px;   
}

.nito {
    font-weight: bold;
}