html {
    background: linear-gradient(90deg, rgba(28,14,18,1) 16%, rgba(28,24,51,1) 72%);
}

body {
    background: rgb(28,14,18);
    background: linear-gradient(90deg, rgba(28,14,18,1) 16%, rgba(28,24,51,1) 72%);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; /*1em*/
    flex-direction: column;
    gap: 32px;
    height: 100vh;
    margin: 0px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

header nav ul li {
    list-style: none;
}

.contenedor-descripcion {
    position: relative;
}

.descripcion {
    position: absolute;
    color: white;
    top: 40px;
    /* margin-top: 40px; */
    font-size: 0.7em;
    width: 190px;
}

.comics {
    position: absolute;
    color: white;
    font-size: 0.7em;
    width: 190px;
}

.disabled {
    opacity: 0;
}

.search-input-box {
    background-color: #2f3640;
    border-radius: 5px;
    box-shadow: 0 1px 5px 3px rgba(0,0,0,0.12);
    color: white;
    position: absolute;
    width: 190px;
}

.search-input-box input{
    width: 185px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 25px;
    padding: 0 0px 0px 5px;
}

.search-input-box.active .miLista {
    opacity: 1;
    pointer-events: auto;
    padding: 5px 8px;
}



.search-input-box.active .miLista li{
    display: block;

}

.miLista {
    max-height: 170px;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    overflow-y: auto;
    margin-top: 0px;
    margin-bottom: 7px;
}

::-webkit-scrollbar {
    display: none;
}

.miLista li{
    list-style: none;
    width: 100%;
    padding: 8px 0px;
    border-radius: 5px;
    font-size: .75em;
}

/* 
#miLista {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white; 
    width: 190px;
    margin-top: -19px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px;
} */

/* #miLista li {
    padding-left: 10px;
    list-style: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    padding-top: 7px;
}
*/
.miLista li:hover {
    list-style: none;
    color: black;
    background-color:rgb(32, 36, 41);
}

.miLista li a {
    text-decoration: none;
    color: white;
    padding-right: 144px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#header-art {
    display: flex;
    justify-content: center;
}

#header-art img{
    margin-left: 70px;
}

#header-art nav {
    margin-left: 20px;
    width: 30%;
}

#art-principal {
    display: flex;
    justify-content: space-around;
    height: 100%;
    position: relative;
    top: -70px;
}

#art-principal-01{
    height: 100%;
}

#art-secundario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

#art-secundario-01 {
    display: flex;
    justify-content: center;
    height: 150px;
}

#art-secundario-02 {
    margin-left: 110px;
    width: 190px;
}

.caja {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    flex-direction: column;
    margin-bottom: 100px;
    width: 400px;
    height: 380px;
    margin-left: 90px;
}

.cantidad {
    width: 182px;
}

.enviar {
    border: 1px solid hsl(235, 13%, 17%);
    background-color: hsl(235, 18%, 26%);
    margin-left: 50px;
    border-radius: 5px;
    height: 25px;
    width: 90px;
}

.imagen {
    border-radius: 100px;
}

.miles {
    height: 100%;
    position: relative;
}

.letra-blanca {
    color: white;
}

.letra-roja {
    color: #E60F0F;
}

.nito {
    font-weight: bold;
}